* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: azure;
  padding-top: 8%;
}
#container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: azure;
}
.grid-box {
  display: grid;
  grid-template-columns: repeat(4, 15.5rem);
  grid-template-rows: repeat(2, 14.5rem);
  column-gap: 1.7rem;
  row-gap: 1.7rem;
}
.box-1 {
  border-radius: 0.5rem;
  box-shadow: 3px 2px 7px black;
  background-color: hsl(263, 79%, 65%);
  gap: 1rem;
  grid-column: 1 / span 2;
}
.img-1 {
  display: flex;
  margin: 0.8rem 0 0.5rem 0.7rem;
  gap: 0.5rem;
}
.img-1 img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 3px solid purple;
}

.para-1 {
  width: 450px;
  color: aliceblue;
  padding-left: 1rem;
  top: 4rem;
}
.para-2 p {
  margin-top: 0.5rem;
  padding-left: 1rem;
  color: hsl(214, 56%, 23%);
}
.box-2 {
  border-radius: 0.5rem;
  box-shadow: 3px 2px 7px black;
  background-color: hsl(217, 19%, 35%);
}
.img-2 {
  display: flex;
  margin-top: 0.8rem;
  gap: 0.5rem;
  padding-left: 0.5rem;
}
.img-2 img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 3px solid purple;
}
h3 {
  color: aliceblue;
}
p {
  color: gainsboro;
}
.para-3 {
  width: 200px;
  margin-top: 1rem;
  padding-left: 1rem;
  font-size: larger;
  color: aliceblue;
}
.para-4 {
  margin-top: 0.5rem;
  padding-left: 1rem;
}
.box-3 {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 3px 2px 7px black;
  grid-row: 2 / span 1;
}
.para-4 {
  color: rgb(102, 102, 102);
}
.box-4 {
  border-radius: 0.5rem;
  box-shadow: 3px 2px 7px black;
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
  background-color: hsl(219, 29%, 14%);
}
.box-5 {
  background-color: white;
  border-radius: 0.5rem;
  padding-right: 1rem;
  height: 491px;
  box-shadow: 3px 2px 7px black;
  grid-row: 1 / span 3;
}
@media (max-width: 1091px) {
  #container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .grid-box {
    display: flex;
    flex-direction: column;
  }
  .box-5 {
    height: 19.8rem;
  }
}
@media (max-width: 630px) {
  .para-1 {
    width: 360px;
  }
  .box-5 {
    height: 23.8rem;
  }
}
